<?xml version="1.0" encoding="UTF-8"?>
<web-app id="tomcat-demo" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

<servlet>
	<servlet-name>SA</servlet-name>
	<jsp-file>/pageJSP.jsp</jsp-file>
</servlet>

<servlet-mapping>
	<servlet-name>SA</servlet-name>
	<url-pattern>/index</url-pattern>
</servlet-mapping>

<!-- servlet pentru adaugare carte -->
<servlet>
	<servlet-name>AddB</servlet-name>
	<servlet-class>servlets.AddBook</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AddB</servlet-name>
	<url-pattern>/CarteAdaugata</url-pattern>
</servlet-mapping>

<!-- url pentru afisarea cartilor pentru admin -->
 <servlet>
	<servlet-name>ListaB</servlet-name>
	<servlet-class>servlets.BooksList</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ListaB</servlet-name>
	<url-pattern>/ListaCarti</url-pattern>
</servlet-mapping>

<!-- url pentru lista de carti pentru user -->
 <servlet>
	<servlet-name>ListaUser</servlet-name>
	<servlet-class>servlets.ListaCartiUser</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ListaUser</servlet-name>
	<url-pattern>/ListaCartiUser</url-pattern>
</servlet-mapping>

<!-- butonul imprumuta -->
 <servlet>
	<servlet-name>CarteImp</servlet-name>
	<servlet-class>servlets.Imprumuta</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CarteImp</servlet-name>
	<url-pattern>/CarteImprumutata</url-pattern>
</servlet-mapping>

<!-- lista cartilor imprumutate pt admin -->
 <servlet>
	<servlet-name>LCarteImp</servlet-name>
	<servlet-class>servlets.ListaCartiImprumutate</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>LCarteImp</servlet-name>
	<url-pattern>/ListaCartiImprumutate</url-pattern>
</servlet-mapping>

<!-- lista carti imprumutate de user -->
 <servlet>
	<servlet-name>LSpUser</servlet-name>
	<servlet-class>servlets.ListaSpUser</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>LSpUser</servlet-name>
	<url-pattern>/ListaCartiImprumutateUser</url-pattern>
</servlet-mapping>

<!-- butonul returneaza  -->
 <servlet>
	<servlet-name>Return</servlet-name>
	<servlet-class>servlets.Returneaza</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Return</servlet-name>
	<url-pattern>/ReturneazaCarte</url-pattern>
</servlet-mapping>

<!-- lista de autori -->
<servlet>
	<servlet-name>ListAutors</servlet-name>
	<servlet-class>servlets.AuthorsList</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ListAutors</servlet-name>
	<url-pattern>/ListAuthors</url-pattern>
</servlet-mapping>

<!-- buton adauga autor -->
<servlet>
	<servlet-name>AddAuthor</servlet-name>
	<servlet-class>servlets.AddAuthor</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AddAuthor</servlet-name>
	<url-pattern>/AddAuthor</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AddedAuthor</servlet-name>
	<jsp-file>/AddedAuthor.jsp</jsp-file>
</servlet>
<servlet-mapping>
	<servlet-name>AddedAuthor</servlet-name>
	<url-pattern>/AddedAuthor</url-pattern>
</servlet-mapping>

<!-- url before add book -->
<servlet>
	<servlet-name>BAddBook</servlet-name>
	<servlet-class>servlets.ListBeforeAddBook</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>BAddBook</servlet-name>
	<url-pattern>/AddBook</url-pattern>
</servlet-mapping>

<!-- servlet pentru butoanele modifica / sterge -->
<servlet>
	<servlet-name>Button</servlet-name>
	<servlet-class>servlets.ActionsButtonsAuthor</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Button</servlet-name>
	<url-pattern>/ActionButton</url-pattern>
</servlet-mapping>

<!-- servlet pt modificare autor -->
<servlet>
	<servlet-name>ModifyA</servlet-name>
	<servlet-class>servlets.ModifyAuthor</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ModifyA</servlet-name>
	<url-pattern>/modifyedAuthor</url-pattern>
</servlet-mapping>

<!-- pagina pentru setarile clientului -->
<servlet>
	<servlet-name>Setings</servlet-name>
	<servlet-class>servlets.ClientSetings</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Setings</servlet-name>
	<url-pattern>/Setings</url-pattern>
</servlet-mapping>

<!-- butoanele de la lista de carti -->
<servlet>
	<servlet-name>ABB</servlet-name>
	<servlet-class>servlets.ActionsButtonsBooks</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ABB</servlet-name>
	<url-pattern>/ActionButtonBook</url-pattern>
</servlet-mapping>

<!-- clasa unde se modifica o carte -->
<servlet>
	<servlet-name>ModBook</servlet-name>
	<servlet-class>servlets.ModifyBook</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ModBook</servlet-name>
	<url-pattern>/modifiedBook</url-pattern>
</servlet-mapping>


<filter>
	<filter-name>FilterA</filter-name>
	<filter-class>filters.AuthFilter</filter-class>
</filter>

<filter-mapping>
	<filter-name>FilterA</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>

<welcome-file-list>
	<welcome-file>/index</welcome-file>
	<welcome-file>/indexClient</welcome-file>
</welcome-file-list>

 <!-- SECURITY ROLE -->
 <security-role>
 	<role-name>bibliotecar</role-name>
 </security-role>

 <security-role>
 	<role-name>client</role-name>
 </security-role>
 
<security-constraint>
	<web-resource-collection>
		<web-resource-name>Bine ai venit</web-resource-name>
		<url-pattern>/*</url-pattern>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
	</web-resource-collection>
	
	<auth-constraint>
		<role-name>bibliotecar</role-name>
		<role-name>client</role-name>
	</auth-constraint>
	
	<user-data-constraint>
		<transport-guarantee>NONE</transport-guarantee>
	</user-data-constraint>
	
</security-constraint>


<security-constraint>

	<web-resource-collection>
	
		<web-resource-name>Bine ai venit!</web-resource-name>
		<url-pattern>/CarteAdaugata</url-pattern>
		<url-pattern>/AddBooks.jsp</url-pattern>
		<url-pattern>/ListaCarti</url-pattern>
		<url-pattern>/ListaCartiImprumutate</url-pattern>
		<url-pattern>/AddBook</url-pattern>
		<url-pattern>/ListAuthors</url-pattern>
		<url-pattern>/AddAuthor.jsp</url-pattern>
	
		<http-method>GET</http-method>
		<http-method>POST</http-method>
	</web-resource-collection>

	<auth-constraint>
		<role-name>bibliotecar</role-name>
	</auth-constraint>

	<user-data-constraint>
		<transport-guarantee>NONE</transport-guarantee>
	</user-data-constraint>
	
</security-constraint>

<login-config>
      <auth-method>FORM</auth-method>
	<realm-name>Example Form-Based Authentication Area</realm-name>
      <form-login-config>
        <form-login-page>/login.jsp</form-login-page>
        <form-error-page>/error.jsp</form-error-page>
      </form-login-config>
</login-config>
	
</web-app>	